@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#grid {
    border-collapse: collapse;
}

#grid td{
    border: 1px solid rgb(0, 0, 0);
    width: 25px;
    height: 25px;
}

.floor {
    background-color: rgb(241, 216, 145);
}

.wall {
    background-color: rgb(158, 122, 67);
}

header {
    padding: 10px;
    text-align: left;
    background: #5daa6e;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

input[type="number"]
{
    font-family: 'Press Start 2P', cursive;
}