@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#grid {
    border-collapse: collapse;
    width: 100%;
}

#grid td{
    border: 1px solid rgb(0, 0, 0);
    float:left;
    position: relative;
    width: 1.5%;
    padding-bottom : 1.5%; /* = width for a 1:1 aspect ratio */
}

.floor {
    background-color: rgb(241, 216, 145);
}

.wall {
    background-color: rgb(158, 122, 67);
}

.floor.chest {
    background-color: rgb(172, 30, 30);
}

.floor.rad {
    background-color: rgb(45, 170, 33);
}

.floor.ammo{
    background-color: rgb(158, 126, 67);
}


header {
    padding: 10px;
    text-align: left;
    background: #5daa6e;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

input[type="number"]
{
    font-family: 'Press Start 2P', cursive;
}